
#container {
    height: 750px;
    width: 750px;
    display: grid;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 100px;
  
}
.innerDiv {
    border: 1px solid black;
}

#adjust-grid {
    text-align: center;
}